/* CSS Comments Format */

body {
  background-color: rgb(197, 225, 235);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(35, 35, 35);
}

section {
  margin: 1rem;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(245, 243, 243);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  display: block;
  font: inherit;
  padding: 0.25rem;
  border: 1px solid gray;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  background-color: rgb(191, 218, 242);
  color: blue;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  display: block;
  color: rgb(66, 76, 97);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.verify-buttons {
  display: flex;
}

.verify-buttons label {
  margin: 0 0 0 0.5rem;
}

.verify-buttons input {
  width: auto;
  margin-right: 0.75rem;
}

.terms {
  margin: 1rem 0;
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: end;
}

#submit-button {
  background-color: blue;
  color: white;
}

#submit-button:hover {
  background-color: rgb(70, 70, 202);
  color: white;
}
